{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "airbnb",
    "prettier"
  ],
  "env": {
    "node": true
  },
  "rules": {
    "arrow-parens": "off",
    "consistent-return": "off",
    "global-require": "off",
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true
      }
    ]
  },
  "plugins": [
    "babel",
    "prettier"
  ]
}